.about {

    .hero {
        background: #333 url('/images/comp.jpg') center center no-repeat;
        background-size: cover;
    }

    .third {
        @include span-columns(12);

        @include media(768px) {
            @include span-columns(4);
            padding: 2em 0;
        }
    }

    h2 {
        font-weight: 300;
        padding-bottom: .25em;
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
        font-weight: 300;
        padding-bottom: .25em;
    }
    img {
        border-radius: 5px;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    }

    .full {
        @include span-columns(12);
    }

}