.postList {
	.post {
		border-bottom: 1px solid darken($c1, 10%);
		padding: 40px 0;
		display: block;

		h2 {
			font-size: 1.75em;
			font-weight: 800;
			text-shadow: 0px 1px 0px $c4;
			margin-bottom: 0;
		}

		.info {
			font-size: 0.9em;
			color: darken($c1, 40%);
			text-shadow: 0px 1px 0px #fff;
		}
	}

	.post:last-child {
		border-bottom: none;
	}
}