body {
    background: $c1;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Sans-Serif;
}

.container {
    @include outer-container;
    padding: 0 1.5em;
    @include media($max-width) {
        padding: 0;
    }
}

h1 {
	font-size: 3.6em;
	font-family: 'Roboto', Arial, Sans-Serif;
	color: $c4;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	margin: 20px 0;
}

.hero {
        text-align: center;
        font-weight: 800;
        color: $c1;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
        font-size: 3em;
        margin-bottom: 1em;

        @include media(768px) {
            padding: 2em;
            font-size: 4em;
            margin-bottom: 0;

        }

        @include media(900px) {
            font-size: 5em;
        }

        span {
            background: rgba(0,0,0,0.6);
            display: block;
            padding: .5em;
        }

        h1 {
            font-weight: inherit;
            color: inherit;
            text-shadow: inherit;
            font-size: inherit;
            display: inline;
        }
    }

.heroSmall {
        font-weight: 800;
        color: $c1;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
        margin-bottom: 1em;

        @include media(768px) {
            padding: 2em;
        }

        span {
            display: block;
            padding: .5em;
        }

        h1 {
            font-weight: inherit;
            color: inherit;
            text-shadow: inherit;
            font-size: inherit;
            display: inline;

            font-size: 3em;
        }
    }
