header {

    .container {
        padding: 0;
    }

    background: $c4;
    padding: 1.5em 0 0 0;

    @include media(900px) {
        padding: 1.5em;
    }

    .me {
        position: relative;
        @include span-columns(12);

        @include media(900px) {
            @include span-columns(7);
        }

        .img, .imgBak {
            float: left;
            background: url('/images/face.png') top left no-repeat;
            background-size: cover;
            width: 4em;
            height: 4em;
            border-radius: 50px;
            text-indent: -999em;
            @include transition(all .5s);

            @include media(450px) {
                width: 6em;
                height: 6em;
            }
        }

        .imgBak {
            background: url('/images/photo.jpg') top left no-repeat;
            background-size: cover;
        }

        h1, h2 {
            font-size: 1.2em;
            font-weight: 300;
            text-indent: 0;
            color: $c1;
            display: block;
            margin-left: 80px;

            @include media(450px) {
                margin-left: 120px;
                font-size: 2em;
                width: 400px;
            }
        }

        h1 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        h2 {
            font-weight: 300;
            color: $c2;
            font-size: 1em;

            @include media(450px) {
                margin-left: 120px;
                font-size: 1.2em;
                width: 400px;
            }
        }
    }

    ul {

        @include span-columns(12);
        background: $c3;
        margin-top: 1.5em;

        @include media(900px) {
            float: right;
            width: auto;
            background: none;
        }

        li {
            float: left;
        }

        a {
            display: inline-block;
            text-transform: uppercase;
            font-weight: 500;
            color: $c1;
            padding: .75em 2em;

            @include media(900px) {
                margin: 1.25em .75em;
                border-radius: 1em;
            }

            @include transition(all .2s);
            &:hover {
                background: $c2;
            }
        }
    }
}

.flipCont {
    perspective: 1000;
    float: left;
    &:hover .flipInner {
        transform: rotateY(180deg);
    }

    &, .img, .imgBak {
        width: 4em;
        height: 4em;

        @include media(450px) {
            width: 6em;
            height: 6em;
        }
    }

    .flipInner {
        transition: 0.3s;
        transform-style: preserve-3d;
        position: relative;
    }

    .img, .imgBak {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }

    .img {
        transform: rotateY(0deg);
    }

    .imgBak {
        transform: rotateY(180deg);
    }
}